@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #F2E9E4;
}

.overflow-y {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

.chatbot {
    position: fixed;
    height: 80px;
    width: 80px;
    bottom: 30px;
    right: 30px;
    z-index: 1;

    transition: 1s ease-in-out;
    animation: chatbot 2s linear infinite;
}

@keyframes chatbot {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.chatbot img {
    width: 100%;
    cursor: pointer;
}


.hero {
    /* background-image: url("./assets//img/heroBackground.png"); */
    /* background-image: url(../assets/img/gallery/Group\ 1.png); */
    width: 100vw;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

form {
    position: relative;
    z-index: 1;
}

form .btn {
    z-index: 1;
}

/* Dropdown Service Button */

.dropbtn {
    background-color: transparent;
    font-size: 1rem;
    color: #22223B;
    font-family: 'Poppins',sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F2E9E4;
    color: #F2E9E4;
    font-weight: 400;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    width: 100%;
    color: #22223B;
    margin: 25px 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.25rem; */

    /* font-weight: normal; */
}

nav.nav-mobile {
    display: none;
    z-index: 2;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logo {
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
}


.nav-right {
    display: flex;
}

.nav-right>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #F2E9E4;
}

.nav-right>ul>li {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400; */
    font-size: 1rem;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;

    color: #22223B;
}

.nav-right>ul>li:hover {
    transform: scale(1.1);
}


.nav-right>button {
    padding: 10px;
    border-radius: 6px;
    background: #9A8C98;
    color: #F2E9E4;
    margin-left: 5px;
    width: 120px;
    height: 40px;
    font-family: 'Poppins',sans-serif;
}

button {
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

button:hover {
    transform: scale(1.05);
}

.nav-mobile .btn {
    padding: 10px;
    border-radius: 6px;
    background: rgb(154, 140, 152);
    color: rgb(242, 233, 228);
    margin-left: 5px;
    width: 50vw;
    margin: 0 auto;
}


h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #22223B;
    text-align: center;
}

h1+p {
    text-align: center;
    color: #22223B;
    font-size: 1.5rem;
    opacity: 0.7;
}

.modal {
    min-height: 60%;
    width: 60%;
    min-width: 500px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 40px;

    border-radius: 40px;

    margin: 70px auto;

    position: relative;

    padding: 3% 2%;

    z-index: 1;
}

.modal h3 {
    font-weight: 600;
    font-size: 2.1875rem;
    line-height: 3.25rem;
    color: #22223B;
}

/* .modal img {
    position: absolute;
    height: 200px;
    top: -187px;
    left: 50%;
    transform: translateX(-50%);
} */

.expired-form {
    display: flex;
    flex-direction: column;
    transition: 0.6s;
}

label {
    font-weight: 500;
    font-size: 1.125rem;
    color: #22223B;
    margin-top: 20px;
}

.input {
    background: #F2E9E4;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1rem;
    /* height: 82px; */

    /* font-size: 1.875rem; */
}

input::placeholder {
    color: #9A8C98;
    opacity: 0.68;
    font-family: 'Poppins';
}

.btn {
    padding: 8px;
    background: #9A8C98;
    border-radius: 10px;
    text-align: center;

    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.25rem;
    color: #F2E9E4;
    transition: 0.3s;

    margin-top: 20px;

    text-decoration: none;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-submit {
    display: block;
    width: 60%;
    max-width: 800px;
    margin: 50px auto 100px;
    text-align: center;
}


/* Drop Down */

[hidden] {
    display: none;
}

/*  Disable the First Option which work as a placeholder*/
select:invalid,
select option[value=""] {
    color: #9A8C98;
    opacity: 0.68;
}


/* ! Custom DropDown */


details {
    position: relative;
}

details[open] {
    z-index: 1;
}

summary {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F2E9E4;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: none;
}

#default {
    color: #9A8C98;
}

/* details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
} */

summary img {
    position: absolute;
    transform: translateY(50%) rotate(180deg);
    right: 15px;
    width: 14px;
}

details[open] summary img {
    transform: rotate(0) translateY(50%);
}

ul.list {
    width: 100%;
    background: #F2E9E4;
    /* position: absolute; */
    top: calc(100% + .5rem);
    left: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    overflow-y: auto;
    /* margin-top: 10px; */
}

.list li {
    margin: 0;
    list-style: none;
}

.list label {
    color: #9A8C98;
    font-weight: 400;
    font-size: 1rem;
    margin: 10px 0;
    padding-left: 10px;
    transition: 0.3s;
}

.list label:hover {
    color: #F2E9E4;
    background-color: #9A8C98;
}

.list li:first-child {
    padding-top: 0;
}

.list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
    counter-reset: radios;
}

.custom-select input[type=radio] {
    counter-increment: radios;
    appearance: none;
    display: none;
    font-family: 'Poppins', sans-serif;
}

.custom-select input[type=radio]:checked {
    display: inline;
}

.custom-select input[type=radio]:after {
    content: attr(title);
    display: inline;
    font-size: 1rem;
    font-family: 'Poppins';
    color: #9A8C98;
    opacity: 0.68;
}

.custom-select ul.list {
    counter-reset: labels;
}

.custom-select .list label {
    width: 100%;
    display: block;
    cursor: pointer;
}


/* Input - File  */

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    background: #F2E9E4;
    padding: 10px;
    display: block;
    width: calc(100% - 20px);
    pointer-events: none;
    z-index: 20;
    color: #9A8C98;
    border-radius: 5px;
    font-weight: 400;

    opacity: 0.68;

}

.file-upload-wrapper:before {
    content: "Upload";
    position: absolute;
    top: 7px;
    right: 10px;
    display: inline-block;
    height: 30px;

    background: #9A8C98;
    border-radius: 10px;

    color: #fff;
    font-weight: 700;
    z-index: 25;
    /* font-size: 16px; */
    line-height: 30px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

input+p {
    color: #72808A;
    opacity: 0.68;
    font-size: 1rem;
    font-weight: 300;
    /* line-height: 1.875px; */
    padding-left: 10px;
}



/* ! Custom Date Input */
.calendar label {
    display: flex;
    align-items: center;
}

.calendar input {
    background: #F2E9E4;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 1rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.calendar img {
    position: absolute;
    right: 10px;
    height: 24px;
    /* margin-right: -50px; */
}

.calendar label {
    margin-top: 0;
}

.calendar input+span {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 10px;
    z-index: 2;
}

.calendar input:placeholder-shown+span {
    display: none;
}

div.calendar {
    position: relative;
}

/* ! */
/* div.calendar.calendar-open label input {
    z-index: 2;
} */

div.calendar.calendar-open label::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(255, 255, 255, 0.95); */
    z-index: 1;
}

#calendarElem {
    position: absolute;
    top: calc(100% - 14px);
    left: 0;
    width: 300px;
    background-color: #F2E9E4;
    z-index: 3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 3px #999;
}

#calendarElem .calendar-title {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    border-bottom: solid thin #ddd;
    position: relative;
}

#calendarElem .calendar-title button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: none;
    font-size: 0;
    width: 30px;
    height: 30px;
}

#calendarElem .calendar-title button::after {
    font-family: "Material Icons";
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
}

#calendarElem .calendar-title button.previous {
    left: 10px;
}

#calendarElem .calendar-title button.next {
    right: 10px;
}

#calendarElem .calendar-title button.previous::after {
    /* content: "\e314"; */
    content: '';
    background-image: url('../assets/img/form/left-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}

#calendarElem .calendar-title button.next::after {
    /* content: "\e315"; */
    content: "";
    background-image: url('../assets/img/form/right-arrow.png');
    background-repeat: no-repeat;
    background-position: center;
}

#calendarElem .calendar-week {
    display: flex;
    width: 100%;
    font-weight: 300;
}

#calendarElem .calendar-week.title span {
    font-weight: 400;
    color: #000;
}

#calendarElem .calendar-week .calendar-day {
    flex-grow: 1;
    flex-basis: 14.285%;
    text-align: center;
    align-self: center;
}

#calendarElem .calendar-week .calendar-day span {
    display: block;
    height: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 10px;
}

#calendarElem .calendar-week .calendar-day span:hover {
    background-color: #9A8C98;
    color: white;
}

#calendarElem .calendar-week .calendar-day.weekend {
    /* background-color: #f3f3f3; */
}

#calendarElem .calendar-week .calendar-day.inactive {
    background-color: #eee;
    color: #999;
}

#calendarElem .calendar-week .calendar-day.selected {
    background-color: #9A8C98;
    color: white;
    font-weight: 400;
}

#calendarElem .calendar-week .calendar-day.today span {
    /* color: #0092d6;
    font-weight: 400; */
    background-color: #9A8C98;
    color: white;
}

#calendarElem .calendar-week:not(:last-child) {
    border-bottom: solid thin #ddd;
}

#calendarElem .calendar-week .calendar-day:not(:last-child) {
    /* border-right: solid thin #ddd; */
}

.calendar label {
    margin-bottom: 10px;
}

.calendar p {
    color: #72808A;
    opacity: 0.68;
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
}


.pooja-options label {
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 45px;
    color: #22223B;

    opacity: 0.5;
}

.pooja-options label.active {
    color: #22223B;
    opacity: 1;
}

.pooja-options input[type="radio"] {
    position: relative;
    transform: translateY(30%);
    width: 20px;
    height: 20px;
    color: #363839;
    border: none;
    background: #CFCBCF;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

.pooja-options input[type="radio"]::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -50%);
    width: 22px;
    height: 22px;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #CFCBCF;
}

.pooja-options input[type="radio"]:checked {
    color: #fff;
    background: #9A8C98;
    /* border-radius: 5px; */
}

.pooja-options input[type="radio"]:checked::before {
    border: 2px solid #9A8C98;
    opacity: 1;
}


.service-cost {
    background: #9A8C98;
    border-radius: 10px;

    color: #F2E9E4;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    width: 250px;
    text-align: center;
    padding: 10px;
}

label[for="guestCount"] {
    display: block;
}

label[for="guestCount"]+input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.virtual-options p:nth-child(2) {
    font-size: 1.1rem;
    margin: 20px 0;
    color: #22223B;
}


/* Service Details */
.service-details {
    background: #C9ADA7;
    border-radius: 40px;
    width: 60%;
    margin: 0 auto 100px;
    color: #F1E7E3;
    padding: 10px 2.5%;

    position: relative;
    z-index: 1;
}

.service-details:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 92%;
    background-image: url('../assets/img/form/service-details-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.service-details h3 {
    text-align: center;
}

.service-details h3+ul {
    list-style-type: none;
}

.service-details ul li {
    padding: 8px 0;
}

/* FOOD Menu */
.food-menu {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.8125rem;

    color: #22223B;
    margin-top: 20px;

}

.food-menu+p {
    font-size: 1rem;
    color: #4A4E69;

    margin: 10px 0 30px;
}

.food-menu+p>strong {
    font-weight: 600;
}

.food-menu-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.food-menu-options__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #F2E9E4;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    /* flex-basis: 22%; */

    flex-wrap: wrap;

}

.food-menu-options__items.col-2 {
    flex-basis: 45%;
}

.food-menu__title {
    padding: 5px 0;
    background: #9A8C98;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 700;
    font-family: 'Rubik';
    color: #F2E9E4;
    width: 200px;
    max-width: 250px;
    margin: 0 auto;
}

.food-menu-options__items + p {
    font-family: 'Poppins';
    color: #FC5A3A;
    text-align: center;
}

.food-menu-options__items label {
    color: #4A4E69;
}

.food-menu-options__items label.checked {
    color: #22223B;
}

.food-menu-options__items input[type=checkbox] {
    position: relative;
    top: 12.5%;
    width: 20px;
    height: 20px;
    color: #363839;
    border: none;
    background: #CFCBCF;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type=checkbox]::before {
    position: absolute;
    content: "";
    display: block;
    top: 8%;
    left: 30%;
    width: 5px;
    height: 11px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type=checkbox]:checked {
    color: #fff;
    background: #9A8C98;
    border-radius: 5px;
}

input[type=checkbox]:checked::before {
    opacity: 1;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex div {
    display: flex;
    flex-direction: column;
}

/* spots */
.first-spot {
    position: absolute;
    top: 10%;
    right: 0;
    opacity: 70%;
    mix-blend-mode: multiply;
}

.second-spot {
    position: absolute;
    top: 0%;
    left: 0;
    opacity: 70%;
    mix-blend-mode: multiply;
}

.third-spot {
    position: absolute;
    top: 80%;
    right: 0;
    opacity: 70%;
    mix-blend-mode: multiply;
}

.fourth-spot {
    position: absolute;
    top: 60%;
    left: 0;
    opacity: 70%;
    mix-blend-mode: multiply;
}



/* footer */

footer {
    padding: 60px 120px 30px 120px;
    background-color: #9A8C98;
    color: #F2E9E4;
    display: flex;
    flex-direction: column;

    position: relative;
}

.footer-design {
    position: absolute;
    width: 100vw;
    top: -93px;
    left: 0;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-div-1>h1 {
    /* margin-bottom: 50px; */
    text-align: left;
}

.email {
    display: flex;
    align-items: center;
}

.email>i {
    font-size: 20px;
}

.email>p {
    margin-left: 10px;
    font-weight: 300;
}

.phone {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.phone>i {
    font-size: 15px;
}

.phone>p {
    margin-left: 10px;
    font-weight: 300;
}

.footer-div-2>h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 10px;
}

.footer-div-2>ul {
    list-style: none;
}

.footer-div-2>ul>li {
    margin-bottom: 15px;
    font-weight: 300;
}

.footer-div-2>button {
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    padding: 15px 25px;
    background: #4A4E69;
    color: #F2E9E4;
    border-radius: 10px;
    border: 0;
}

.location {
    max-width: 160px;
    display: flex;
    font-weight: 300;
}

.location>i {
    margin-right: 10px;
}

.footer-lower-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-weight: 300;
    font-size: 15px;
}

.footer-lower-box>ul {
    list-style: none;
    display: flex;
}

.footer-lower-box>ul>li {
    margin-right: 20px;
    cursor: pointer;
}


/* Media Queries */


@media screen and (max-width: 1025px) {
    nav {
        margin: 10px 20px;
    }
}


@media screen and (max-width: 850px) {
    .food-menu__title {
        width: 160px;
    }

    .food-menu-options {
        justify-content: center;
    }

    .food-menu-options__items {
        padding: 5%;
    }

    .food-menu-options__items.col-2 .food-menu__title {
        padding: 5%;
        max-width: 300px;
        width: 300px;
    }

    .service-details {
        padding: 5% 5%;
    }

    .footer-design {
        top: -52px;
    }
}

@media screen and (max-width: 768px) {
    .navbar .menu-items {
        justify-content: center;
        align-items: center;
        color: #F2E9E4;
    }

    .food-menu-options {
        justify-content: center;
    }

    .food-menu-options__items {
        /* padding: 0; */
    }

    .dropdown-content {
        background-color: #f1f1f1;
        color: #F2E9E4;
        min-width: 160px;
        left: 50%;
        transform: translateX(-50%);
    }

    .dropdown-content a {
        color: black !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
        border-radius: 10px;
    }


    .dropbtn {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .dropbtn {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .footer-design {
        top: -42px;
    }
}

@media screen and (max-width: 426px) {
    .hero nav {
        display: none;
    }

    .hero-box>h1 {
        margin-top: 50px;
        text-align: center;
    }

    .oval {
        display: none;
    }

    nav.nav-mobile {
        display: block;
    }

    .navbar__logo {
        width: 44px;
        height: 44px;
        margin-left: 0px;
    }

    .modal {
        min-width: 350px;
        padding: 10% 5%;
    }

    .food-menu-options {
        justify-content: center;
    }

    .food-menu-options__items.col-2 {
        flex-basis: 100%;
    }

    .service-details {
        padding: 10% 10%;
        width: 90%;
    }

    .services-spot {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .footer-box {
        flex-direction: column;
    }

    .footer-lower-box {
        flex-wrap: wrap;
    }

    .footer-lower-box .copyrights {
        order: 2;
        text-align: center;
    }

    .footer-lower-box ul {
        width: 100%;
        justify-content: space-between;
    }

    .footer-lower-box>ul>li {
        margin: 0;
    }

    nav {
        margin: 0;
    }

    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
        height: 100vh;
        width: 100vw;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        margin-left: -104px;
        /* padding-left: 50px; */
        transition: transform 0.5s ease-in-out;
        text-align: center;
        background-color: #000000;

        color: #F2E9E4;

        justify-content: center;
        align-items: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    navbar .logo {
        /* position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: white; */
    }

    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked~.logo {
        display: none;
    }

    .gallery__items__vdo {
        flex-direction: column;
    }

    .gallery__titles {
        width: 80%;
    }

    .btn {
        padding: 5px 10px;
    }

    .footer-design {
        top: -23px;
    }
}

/* Google Translate */
#google_translate_element select {
    background-color: transparent;
    outline: none;
    border: none;
}
.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}
